<!DOCTYPE html>
<html>
<head>
   
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    @*<link href="~/Content/UserStyle.css" rel="stylesheet" />*@
    <link href="~/Content/LayoutMeno.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Content/superfish.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.js"></script>

    <script src="~/Scripts/hoverIntent.js"></script>
    <script src="~/Scripts/superfish.js"></script>

    <link href='http://www.fontonline.ir/css/BNazanin.css' rel='stylesheet' type='text/css'>



</head>
<body>
    
    <div  class="myfont" style="margin:0% 10%" >

        <ul class="sf-menu" id="menubody">
            <li class="current">
                <a href="">موبایل</a>
                <ul>
                    <li>
                        <a href="http://localhost:9647/MobilePage/Mobiles">جدول موبایل ها</a>
                    </li>
                    <li class="current">
                        <a href="http://localhost:9647/MobilePage/MobileRegister">ثبت موبایل</a>
                        <ul>
                            <li class="current"><a href="followed.html">122</a></li>
                            <li><a href="#">123</a></li>
                            <li><a href="#">124</a></li>
                            <li><a href="#">125</a></li>
                            <li><a href="#">125</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">13</a>
                        
                    </li>
                    <li>
                        <a href="#">14</a>
                        
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"> یوزر</a>
                <ul>
                    <li>
                        <a href="http://localhost:9647/MobilePage/UserRegister">ثبت یوزر</a>

                    </li>
                    <li>
                        <a href="#">22</a>

                    </li>
                    <li>
                        <a href="#">23</a>

                    </li>
                    <li>
                        <a href="#">24</a>

                    </li>
                    <li>
                        <a href="#">25</a>

                    </li>
                </ul>
            </li>
            <li>
                <a href="#">3</a>
                <ul>
                    <li>
                        <a href="#">31</a>
                        
                    </li>
                    <li>
                        <a href="#">32</a>
                        
                    </li>
                    <li>
                        <a href="#">33</a>
                       
                    </li>
                    <li>
                        <a href="#">34</a>
                       
                    </li>
                    <li>
                        <a href="#">35</a>
                        
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">4</a>
            </li>
        </ul>

    </div >

    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
