div
{
    margin: 20px 20%;
    padding: 20px;
}
input 
{
  width: 50%;
  padding: 10px 10px;
  margin: 10px 0px;
  box-sizing: border-box;
}
input.ChecK 
{   
    padding: 0px 0px;
    margin: 10px 0px;
    width:auto;
}
select
{
  width: 50%;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
}